$color_333: #333;
$color_979797: #979797;
$color_9C9C9C: #9C9C9C;
$color_E3E3E3: #E3E3E3;
$color_F5F5F2: #F5F5F2;
$color_F58220: #F58220;
$color_FFA200: #FFA200;
$color_04AE00: #04AE00;
$color_74B67A: #74B67A;
$color_96CC9B: #96CC9B;
$color_DE5252: #DE5252;
$color_EC7171: #EC7171;
$color_56819F: #56819F;
$color_Ff0000: #Ff0000;
$color_FFF: #FFF;
