
$hover: 'not all and (hover: none)';
$maxSmall: 767px;
$minMedium: 768px;
$maxMedium: 1199px;
$minLarge: 1200px;


$rwdColName: (
	('lg', 'minLarge', 'maxLarge'),
	('md', 'minMedium', 'maxMedium'),
	('s', 'minSmall', 'maxSmall')
);

$breakpoints: (
	'minSmall':  ( min-width:  0 ),
	'maxSmall':  ( max-width:  $maxSmall ),
	'minMedium': ( min-width:  $minMedium ),
	'maxMedium': ( max-width:  $maxMedium ),
	'minLarge':  ( min-width:  $minLarge ),
	'maxLarge':  ( max-width:  9999px )
);

/// Mixin to manage responsive breakpoints
@mixin respond-to($breakpoint, $secondBreakpoint: 'minSmall') {
	/// If the key exists in the map
	@if map-has-key($breakpoints, $breakpoint) and map-has-key($breakpoints, $secondBreakpoint){
    /// Prints a media query based on the value
    	@media #{inspect(map-get($breakpoints, $breakpoint))} and #{inspect(map-get($breakpoints, $secondBreakpoint))} {
    	@content;
    	}
    }
  /// If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
	}
}


/// Mixin to manage responsive breakpoints
@mixin respond-to($breakpoint, $secondBreakpoint: 'minSmall') {
	/// If the key exists in the map
	@if map-has-key($breakpoints, $breakpoint) and map-has-key($breakpoints, $secondBreakpoint){
    /// Prints a media query based on the value
    	@media #{inspect(map-get($breakpoints, $breakpoint))} and #{inspect(map-get($breakpoints, $secondBreakpoint))} {
    	@content;
    	}
    }
  /// If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
	}
}

@each $a, $b, $c in $rwdColName {
	@include respond-to($b,$c) {
		@for $i from 0 through $column {
			@if $i < $column {
        		.col-#{$a}-#{$i + 1} {
					$width: (100% / $column ) * ($i+1);
					flex: 0 0 $width;
						min-width: $width;  
						max-width: $width;      		}
    		}
    		.col-#{$a}-offset-#{$i} {
        		margin-left: (100% / $column ) * $i;
    		}
    	}
	}
}

@mixin myFlexRow ($justify-content, $align-items, $align-content, $direction, $minHeight: 50px, $zIndex: 0) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    align-content: $align-content;
    flex-direction: $direction;
    flex-wrap: wrap;
	min-height: $minHeight;
    z-index: $zIndex;
}


.row {
	&--main {
		@include myFlexRow(flex-end, flex-start, flex-start, row, $menuTopHeight, 5);
    	flex: 0 0 100%;
    	width: 100%;
    } 
     
	&--section {
		@include myFlexRow(flex-end, flex-start, flex-start, row, $menuTopHeight, 5);
		width: 100%;
		background: $menuTopBackground;
		box-shadow: 2px 2px 2px gray;
	}

	
}
