@import "normalize";
 
*, *:before, *:after {margin: 0; padding: 0; box-sizing:border-box}
ul {list-style: none;   }  

@import "variables";
@import "layout";
@import "pages/page";
@import "pages/section";
@import "components/buttons";
@import "components/text";
@import "components/links";
@import "components/checkbox";
@import "components/tabs";
@import "components/calendar";
@import "components/personal";
@import "components/checkbox-tabs";
@import "components/menu-left-side";
@import "components/menu-top";
@import "components/general";
@import "pages/links";
@import "pages/header";
@import "mixins"; 


body {
    background: $color_F5F5F2;
}

