@import "reset";
* {box-sizing: border-box;}
//*, *:before, *:after {margin: 0; padding: 0; }
//ul {list-style: none;   }  

@import "variables";
@import "components/text";
@import "layout";
@import "pages/page";
@import "pages/section";
@import "components/buttons";
@import "components/links";
@import "components/checkbox";
@import "components/tabs";
@import "components/pagination";
@import "components/calendar";
@import "components/personal";
@import "components/checkbox-tabs";
@import "components/menu-left-side";
@import "components/menu-top";
@import "components/general";
@import "components/table";
@import "components/modal";
@import "pages/links";
@import "pages/header";
@import "mixins"; 


body {
    background: $color_F5F5F2;
}

