.calendar {
    border: none;
    &__container {
        border: 1px solid $pageHeaderDescColor;
        border-radius: 5px;
        padding:10px;
        &:hover {
            border: 1px solid $pageHeaderDescValueColor;
            & > .hover {
              color: $pageHeaderDescValueColor;
            }
        }
    }

    &__input {
        border: none;
        text-align: center;
        font-family: $sectionHeaderFontFamily;
        font-size: $sectionHeaderFontSize;
        font-weight: $sectionHeaderFontWeight;
        background: transparent;
    }
    &--color {
        &-light {
        color: $pageHeaderDescColor;
        }

        &-dark {
            color: $pageHeaderDescValueColor;
        }
    }

    &__row {
        @include myFlexRow(center, center, center, row, 30, 0);
    }

    &__border-inside {
        height: 30px;
        border-left: 1px solid gray;
        @media (max-width: $maxSmall) {
            height: 0px;
            margin: 10px 0;
            border-left: none;
            border-bottom: 1px solid gray;
        }
    }

}
