.check-box-tabs {
    &__ball {
        &--color-blue::after {
            content: '';
            display: inline-block;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background: $linkColor;
        }
 
       
        &--color-orange::after {
            content: '';
            display: inline-block;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background: $linkHoverColor;
        }
 
        
        &--color-green::after {
            content: '';
            display: inline-block;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background: $checkboxMarkedBackground;
        }
    }

    &__input:checked + & {
        background: $tabBackgroundHover;
    }

    &:hover {
        background: $tabBackgroundHover;
        cursor: $cursorHover; 
    }
}
