
.menu-top {
    $subMenuHeight: 30px;
 
    &__saved {      //green saved link
        flex: 0 0 auto;
        width: 100%;
        color: $menuTopColorSavedLink;
        background: $menuTopBackgroaundSavedLink;
        @include myFlexRow(space-around, center, center, row, $menuTopHeight, 5);
        @include text;
        &--switch-link:checked + & {
            visibility: hidden;
        }
        &--center-row {
            @include myFlexRow(center, center, center, row, $menuTopHeight, 5);
            width: 90%;
        }

        &--padding {
            padding-left: 10px;
        }
    }
   
    &__wallet {  //only wallet
        @include myFlexRow(space-around, center, center, row, $menuTopHeight, 5);
        @include page-header;
        color: $pageHeaderDescColor;
        background: $menuTopBackground;
        width: 250px;   //const for field
        position: relative;
        border-left: 1px solid gray;
        @media (max-width: $maxSmall) {
            width: 100%;
        }
   
        &-block { //drill wallet-menu
            background: $menuTopBtnBackgroundHover;
            border-left: 1px solid gray;
            @include myFlexRow(space-between, center, flex-end, column, $menuTopHeight, 5);
            @media (min-width: $minMedium) {
                position: absolute; 
                top: $menuTopHeight;
                left: -1px;     //weight of border!!
            }
            width: inherit;
            box-shadow: 2px 2px 2px gray;
        
        }

        &-level-2 {
            @include myFlexRow(space-between, center, center, row, $subMenuHeight, 100);
            @include section-header;
            padding: 0 10px;
            width: inherit;
            flex: 0 0 auto;
            &--desc {
                flex: 0 1 auto;
                color: $pageHeaderDescColor;
            }

            &--value {
                flex: 0 1 auto;
                color: $pageHeaderDescValueColor;
          
            }
        }

        &-switch { 
            &:checked + .menu-top__wallet {
                color: $pageHeaderDescValueColor;
                background: $menuTopBtnBackgroundHover;
            
                & .menu-top__wallet--checked {
                    display: none;
                }
            }
            &:not(:checked) + .menu-top__wallet { 
                & .menu-top__wallet--unchecked {
                    display: none;
                }
            }
        }
    }

    &__notification {  //only notification
        @include myFlexRow(space-around, center, center, row, $menuTopHeight, 5);
        @include text;
        color: $pageHeaderDescColor;
        background: $menuTopBackground;
        width: 300px;   //const for field
        position: relative;
        border-left: 1px solid gray;
        @media (max-width: $maxSmall) {
            width: 100%;
        }

        & .icon-notification {
            @include page-header;
        }
        
        &--name {
            @include myFlexRow(center, center, center, row, $menuTopHeight, 5);
            flex: 0 0 auto;
            color: $textBlue;
            width: 67%;
            &-padding {
                padding-left: 10px;
            }
        }

        &-block { //drill notification-menu
            background: $menuTopBtnBackgroundHover;
            border-left: 1px solid gray;
            @include myFlexRow(space-between, center, flex-end, column, $menuTopHeight, 5);
            @media (min-width: $minMedium) {
                position: absolute; 
                top: $menuTopHeight;
                left: -1px;     //weight of border!!
            }
            width: inherit;
            box-shadow: 2px 2px 2px gray;
        
        }

        &-level-2 {
            @include myFlexRow(space-between, center, center, row, $subMenuHeight, 100);
            @include text;
            color: $textBlue;
            padding: 0 10px;
            width: inherit;
            flex: 0 0 auto;
            &--desc {
                flex: 0 1 auto;
            }

            &--value {
                flex: 0 1 auto;
            }
        }

        &-switch { 
            &:checked + .menu-top__notification {
                color: $pageHeaderDescValueColor;
                background: $menuTopBtnBackgroundHover;
            
                & .menu-top__notification--name {
                    color: $pageHeaderDescValueColor;
                }

                & .menu-top__notification--checked {
                    display: none;
                }
            }
            
            &:not(:checked) + .menu-top__notification { 
                & .menu-top__notification--unchecked {
                    display: none;
                }
            }

            &:not(:checked) + .menu-top__notification { 
                & .menu-top__notification--hidden {
                    visibility: hidden;
                }
            }
        }
        &-ball::after {
            content: '';
            display: inline-block;
            background: orange;
            height: 10px;
            width: 10px;
            border-radius: 50%;
        }

        & > &--checked .icon-notification {
            &::after {
                content: '';
                display: inline-block;
                position: relative;
                background: orange;
                height: 10px;
                width: 10px;
                left: -10px;
                top: -10px;
                border-radius: 50%;
            }
        }
    }
    
    &__exit {
        border-left: 1px solid gray;
        height: $menuTopHeight;
        text-align: center;
        line-height: $menuTopHeight;
        z-index: 10;
        flex: 0 0 auto;
        width: 100px;
        @media (max-width: $maxSmall) {
            width: 100%;
        }
    }
}
