$inputHeight: 50px;




.personal {
   
    &__row {
        @include myFlexRow(space-between, center, center, row, $inputHeight, 5);
        flex: 0 0 auto;
        width: 100%;
        padding: 10px 0;
        position: relative;
    }

    &__column {
         margin: 0 auto;
         @include section-header;
         color: $pageHeaderDescColor;
         border-bottom: 1px solid gray;
         padding: 20px 0;
     }

    
    &__input {
        position: relative;
        outline: none;
        padding: 5px 30px;
        border: 1 solid $color_9C9C9C;
        border-radius: 5px;
        @include text;
        color: $pageHeaderDescValueColor;
        width: 95%;
        height: $inputHeight;
    
        &--icon {
            position: absolute;
            left: 10px;
            top: 15px;
        }
        &--login {
            position: relative;
            @include myFlexRow(flex-start, flex-start, flex-start, column, 90px, 5);
            //width: 30%;
        }
 
        &--selects {
            width: 100%;
            height: 40px;
            margin-top: 10px;
            &::-ms-expand {
                display: none;
            }
            -webkit-appearance: none;
            -moz-appearance: none;
            
            &-icon {
                z-index: 999;
                position: absolute;
                left: calc(100% - 10% - 20px);
                top: 55px;    
                pointer-events: none;
            }
        }
     
        &:focus,
        &:active,
        &:hover {
             border: 2px solid $color_333;
        }
    }

    &__button {
        @include myFlexRow(center, center, flex-start, row, $inputHeight, 5);
        padding: 20px 0;
        width: 100%;
    }
    
    &__error {
        padding-top: 5px;
        color: red;
        @include text;
        width: 100%;
    }

    &__info {
        color: $color_56819F;
        padding-top: 5px;
        @include text;
        width: 100%;
    }

   
    & .required {
        position: relative;
        &::before {
            content:'*';
            color: red;
            background: transparent;
            @include page-header;
            position: absolute;
            left: -10px;
        }
    }
    
}

.text__error {
    border-color: red;
    background: pink;
}

.text__valid {
    background: lightgreen;
    border-color: darkgreen;
}

.text__info {
    background: transparent;
}

