
.personal {
   
    &__row {
        @include myFlexRow(center, center, flex-start, row, 50px, 5);
    }

    &__column {
         @include myFlexRow(flex-start, flex-start, flex-start, column, 50px, 10);
    }

    &__border {
        border-bottom: 1px solid gray;
        padding: 20px 0;
    }

    &__input {
        padding: 5px;
        border: 1 solid $color_9C9C9C;
        border-radius: 5px;
        &:focus
        &:active
        &:hover {
            border: 1 solid $color_333;
        }
    }
}
