@mixin text() {
    font-family: $textFontFamily;
    font-size: $textFontSize;
    font-weight: $textFontWeight; 
    text-transform: none;
}

@mixin page-header() {
    font-family: $pageHeaderFontFamily;
    font-size: $pageHeaderFontSize;
    font-weight: $pageHeaderFontWeight; 
}


@mixin section-header() {
    font-family: $sectionHeaderFontFamily;
    font-size: $sectionHeaderFontSize;
    font-weight: $sectionHeaderFontWeight; 
}

@mixin menu-left-header() {
    font-family: $leftMenuHeaderFontFamily;
    font-size: $leftMenuHeaderFontSize;
    font-weight: $leftMenuHeaderFontWeight;
}
