@mixin text() {
    font-family: $textFontFamily;
    font-size: $textFontSize;
    font-weight: $textFontWeight; 
    text-transform: none;
}

@mixin page-header() {
    font-family: $pageHeaderFontFamily;
    font-size: $pageHeaderFontSize;
    font-weight: $pageHeaderFontWeight; 
    text-transform: uppercase;
}


@mixin section-header() {
    font-family: $sectionHeaderFontFamily;
    font-size: $sectionHeaderFontSize;
    font-weight: $sectionHeaderFontWeight; 
    text-transform: none;
}

@mixin menu-left-header() {
    font-family: $leftMenuHeaderFontFamily;
    font-size: $leftMenuHeaderFontSize;
    font-weight: $leftMenuHeaderFontWeight;
    text-transform: none;
}


.text {
    &__page-header {
        font-family: $pageHeaderFontFamily;
        font-size: $pageHeaderFontSize;
        font-weight: $pageHeaderFontWeight; 
        text-transform: uppercase;
    }
    &__section-header {
        font-family: $sectionHeaderFontFamily;
        font-size: $sectionHeaderFontSize;
        font-weight: $sectionHeaderFontWeight; 
    }

    & {
        font-family: $textFontFamily;
        font-size: $textFontSize;
        font-weight: $textFontWeight; 
    }

}