
.section {
    background: $background;
    &__header {
        padding: 10px;
        border-bottom: 1px solid $borderColor;
        width: 100%;
        display: block;
        text-transform: uppercase;
        font-family: $pageHeaderFontFamily;
        font-size: $pageHeaderFontSize;
        font-weight: $pageHeaderFontWeight;
        color: $pageHeaderDescColor;
        background: $background;
    }

    &__workshop {
        background: $background;
        @include myFlexRow(center, center, center, column);
        width: 100%;
        flex: 0 0 auto;
        padding: 30px 20px;
        &--postback {
            @include myFlexRow(flex-start, flex-start, flex-start, row);
            //padding-left: 20px;
        }
    }
}
